/* Following guide in https://stackoverflow.com/questions/7256065/specifying-style-and-weight-for-google-fonts */

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0px;
}

/* Easy for bar height manipulation in javascript*/
:root {
  --item-height: 2px;
}



.algorithm-title {
  margin-top: 30px;
}

.algorithm-title h1{
  color: #1C32B4;
  text-align: center;
  font-weight: 100;
  font-size: 5em;
}

.sorting-algorithm-hint-subtitle{
  color: #1C32B4
}

.sorting-algorithm-hint {
  text-align: center;
  padding-bottom: 30px;
}

#play-button-hint {
  width: 18px;
  height: 18px;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  padding-bottom: 20px;
  padding-top: 30px;
  width: 80%;
  margin: 0 auto;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.play-button-area {
  margin-bottom: 3%;
}

.play-button-area img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  height: 30px;
}

.play-button-area img:hover{
  opacity: 0.7;
}

.play-button-area p {
  padding-top: 5px;
  text-align: center;
}

.play-button-area p:hover{
  opacity: 0.7;
}

.pointer {
  cursor: pointer;
}

.arrays-area {
  padding-top: 40px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.array-title p {
  text-align: center;
  font-size: large;
  margin-bottom: 10px;
  font-weight: 600;
}

/* Area of the array values */
.bars {
  width: 200px;
  height: 250px;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}

/* individual bar item */
.item {
  height: var(--item-height);
  margin-left: 4px;
}



.description {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  max-width: 1000px;
  width: 80%;
  margin: 40px auto;
}

.description-item {
  width: 45%;
  margin-bottom: 2%;
  margin-right: 2%;
}

.description-item h3 {
  color: #1C32B4;
}

.description-item p {
  font-weight: 400;
  text-align: justify;
}

.description-item ul {
  list-style: none;
  font-weight: 400;
  padding-inline-start: 20px
}

#description-sizes {
  display: flex;
  height: 45px;
}

.size-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.selected-size-button {
  background-color: #153586;
  color: white;
}

.size-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  width: 45px;
  height: 45px;
}

#description-speeds {
  display: flex;
}

.speed-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  margin-right: 10px;
}

.speed-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.selected-speed-button {
  background-color: #153586;
  color: white;
}

.size-button p,
.speed-button p {
  margin: 0;
  text-align: center;
  font-weight: 900;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#description-discussion {
  width: 100%;
}

/* Changing the style of a list requires setting default values again */
.description-item  ul li::before {
  content: "\2022";
  color: #1C32B4;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}


/* Makes 2x2 array distribution on tablet mode and bellow*/
@media (max-width:1050px) {
  .arrays-area > div {
    flex: 0 45%;
    margin-bottom: 40px;
  }

  .bars {
    height: 120px;
    width: auto;
    max-width: 180px;
    margin: 0 auto;
    min-width: auto;
  }

  .card {
    padding-bottom: 0px;
  }
}


@media (max-width:700px) {
  .algorithm-title h1{
    font-size: 2.3em;
  }

  .array-title p {
    font-size: medium; /* Solves title overflowing */
  }

  .description-item {
    width: 100%;
  }
}
