:root {
  --item-height: 2px;
}

.algorithm-title {
  margin-top: 30px;
}

.algorithm-title h1{
  color: #1C32B4;
  text-align: center;
}

.play-button-area img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
}

.arrays-area {
  padding-top: 40px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: center;*/
  /*align-content: center;*/
}

.arrays-area > div {
  width: 250px;
  height: 250px;
  /*background-color: black;*/
}

.array-title p {
  text-align: center;
  font-size: large;
  margin-bottom: 10px;
}

.bars {
  border-width: thin;
  border-style: solid;
  border-color: #dddddd;
  height: inherit;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}

.item {
  height: var(--item-height);
  background-color: black;
  margin-left: 4px;
}

.item-1 { width: 40%; order:1}
.item-2 { width: 50%; order:2}
.item-3 { width: 60%; order:3}
.item-4 { width: 20%; order:4}
.item-5 { width: 30%; order:5}

@media (max-width:1000px) {
  .arrays-area > div {
    flex: 0 45%;
    height: 120px;
    width: 40%;
    /*padding-bottom: 10%;*/
    margin-bottom: 40px;
  }
}
